@font-face {
    font-family: 'mlmfont';
    font-style: normal;
    font-weight: 100 900; 
    src: url('fonts/IRANYekanXVF/IRANYekanXVF.woff') format('woff');
    font-display: swap; 
}
body {
    font-family: 'mlmfont', sans-serif;
    -moz-font-feature-settings: "ss01";
    -webkit-font-feature-settings: "ss01";
    font-feature-settings: "ss01";
}
input, textarea, button, select {
    font-family: 'mlmfont', sans-serif;
    font-feature-settings: "ss01";
}
