# YekanBakhFaNum-VF.woff2
@font-face {
    font-family: 'mlmfont';
    font-style: normal;
    font-weight: 100 900; 
    src: url('fonts/yekanbakh/YekanBakhFaNum-VF.woff2') format('woff2');
    font-display: swap; 
}
